@media (max-width: 575px) {
  .login-container {
    padding: 0;
  }

  .login-card {
    width: 100% !important;
    height: 100vh !important;
    border-radius: 0;
  }

  .login-card .login-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .login-card {
    width: 400px;
    height: auto;
  }
}
